


.seccionUbicacion{
    padding: 0 !important;
    margin: 1rem;
}

.divUbicacion{
    width: 100%;
}

.tituloUbicacion{
    font: 
    {
        size: 1.5rem;
        family: "Century Gothic",sans-serif;
        weight: bolder;
 }
    text:
    {
       align:center;
    }
  }

