

.divUbicacion{
    width: 90%;
}

.tituloUbicacion{
    font: 
    {
        size: 1.5rem;
        family: "Century Gothic",sans-serif;
        weight: bolder;
 }
    text:
    {
       align:center;
    }
  }

